body {
	display: flex;
	justify-content: center;
	background-color: rgb(211,190,130);
	font-family: 'Star', sans-serif;
}

div {
	/* border: 1px solid black; */
}

@font-face {
	font-family: 'Star';
	src: url('./resources/fonts/Starjedi.ttf') format("truetype");
}

/* game page */
#points, #health, #timer {
	margin-top: 10px;
	margin-left: 20px;
	width: 130px;
}

#gameboard {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/* min-width: 920px; */
	max-width: 920px;
	height: 220px;
	width: 900px;
	/* justify-content: space-between; */
	margin-top: 100px;
}

.front img {
	width: 80%;
}

.back img {
	width: 100%;
    height: 100%;
    border-radius: 8px;
}

.cardvalue {
	display: none;
}

/* flip animation */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	border-radius: 8px;
	width: 20%;
}

.flipped {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	/* width: 150px; */
	width: 16%;
	/* height: 200px; */
	height: 100%
}

/* flip speed goes here */
.flipper {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
	width: 100%;
	height: 100%;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 8px;
	width: 100%;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(180deg);
	background-color: rgb(120, 160, 136);
	border: 1px solid rgb(83, 111, 94);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(0deg);
	background-color: rgb(227, 230, 206);
}


/* start page */

.container-start {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 500px;
	margin-top: 10%;
	margin-left: 5%;
/* 	width: 580px; */
	min-width: 580px;
}

.icon-buttons {
	position: absolute;
	left: 24px;
	top: 40px;
	z-index: 60;
}

#speaker, #backBtn {
	width: 16px;
	position: absolute;
	top: 100px;
	margin-left: -30px;
}

#backBtn {
	top: 125px;
	left: -2px;
}

h1 {
	font-size: 60px;
}

h3 {
	font-size: 40px;
}

button, input {
	padding: 20px;
	font-family: 'Star';
	margin: 20px;
	width: 350px;
	border: 1px solid rgb(239, 147, 72);
	background-color: rgb(120, 167, 104);
	box-shadow: 2px 2px 2px rgb(136, 136, 136);
	font-size: 25px;
	outline: none;
}

.mode-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 100px;
	/* left: 5px; */
	z-index: 100;
}

button:active, input:active {
	box-shadow: inset 2px 2px 2px rgb(136, 136, 126);
}

.hide {
	display: none;
}

#r2 {
	margin-left: -900px;
	top: 500px;
	position: absolute;
}

#r2 img {
	width: 150px;
}

