body {
	display: flex;
	justify-content: center;
	background-color: rgb(211,190,130);
	font-family: 'Star', sans-serif;
}

@font-face {
	font-family: 'Star';
	src: url('./resources/fonts/Starjedi.ttf') format("truetype");
}

/* game page */
#gameboard {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 920px;
	height: 420px;
	justify-content: space-between;
	margin-top: 100px;
}

#points, #health {
	margin-top: 10px;
	margin-left: 20px;
	width: 100px;
}

.front img {
	width: 80%;
}

.back img {
	width: 100%;
    height: 100%;
    border-radius: 8px;
}

.cardvalue {
	display: none;
}

/* flip animation */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;

	/* border: 1px solid black; */
	border-radius: 8px;
}

.flipped {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 150px;
	height: 200px;
}


/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(180deg);
	background-color: rgb(120, 160, 136);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(0deg);
	background-color: rgb(227, 230, 206);
	border-radius: 8px;
}


/* start page */

.container-start {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 500px;
	align-items: center;
	/* justify-content: center; */
	margin-top: 10%;
	margin-left: 5%;
	width: 580px;
}

h1 {
	font-size: 60px;
}

h3 {
	font-size: 40px;
}

button, input {
	padding: 20px;
	font-family: 'Star';
	margin: 20px;
	width: 350px;
	border: 1px solid rgb(239, 147, 72);
	background-color: rgb(120, 167, 104);
	box-shadow: 2px 2px 2px rgb(136, 136, 136);
	font-size: 25px;
	outline: none;
}

.mode-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 100px;
	left: 45px;
	z-index: 100;
}

input:active {
	box-shadow: inset 2px 2px 2px rgb(136, 136, 126);
}

.hide {
	display: none;
}

#r2 {
	margin-top: 30%;
	margin-left: -900px;
	top: 0px;
	position: absolute;
}

#r2 img {
	width: 150px;
}

